<%= simple_form_for @restaurant do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :address %>
    <%= f.text_field :address %>

    <%= f.label :category %>
    <%= f.text_field :category %>

    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
